<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-1}">
<head>
    <title>Створення курсу</title>
</head>
<style>
    .content {
        flex: 1 0 auto;
    }
</style>
<body layout:fragment="body" class="h-100 d-flex flex-md-column">
    <main class="content">
        <section class="py-5">
            <div class="mx-auto col-10 col-md-8 col-lg-5">
                <form role="form" method="post" th:action="${mode} == 'NEW' ? @{/course/step/save(courseId = ${courseId})} : @{/course/step/save(courseId = ${courseId}, stepId = ${step.id})}" th:object="${step}">
                    <div class="form-row">
                        <div class="form-group">
                            <input id="mode" name="mode" th:value="${mode}" type="hidden">
                            <input id="courseId" name="courseId" th:value="${courseId}" type="hidden">

                            <label for="name">Назва кроку</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    placeholder="Назва курсу"
                                    th:field="*{name}">
                            <p th:if="${#fields.hasErrors('name')}" class="text-danger mb-2" th:errors="*{name}"></p>
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">Посилання на картинку (не обов'язково)</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="imageUrl"
                                    placeholder="Посилання на картинку з відкритого ресурсу"
                                    th:field="*{imageUrl}">
                            <p th:if="${#fields.hasErrors('imageUrl')}" class="text-danger mb-2" th:errors="*{imageUrl}"></p>
                        </div>
                        <div class="form-group">
                            <label for="videoUrl">Посилання на відео (не обов'язково)</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="videoUrl"
                                    placeholder="Посилання на відео з відкритого ресурсу"
                                    th:field="*{videoUrl}">
                            <p th:if="${#fields.hasErrors('videoUrl')}" class="text-danger mb-2" th:errors="*{videoUrl}"></p>
                        </div>
                        <div class="form-group">
                            <label for="content">Текст, в який ви вкладаєте інформацію кроку</label>
                            <textarea
                                    type="text"
                                    class="form-control"
                                    id="content"
                                    placeholder="Текстова інформація"
                                    th:field="*{content}"></textarea>
                            <p th:if="${#fields.hasErrors('content')}" class="text-danger mb-2" th:errors="*{content}"></p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary mt-3" th:text="${mode == 'NEW'} ? 'Створити крок' : 'Редагувати цей крок'">Назва дії</button>
                </form>
            </div>
        </section>
    </main>
<footer layout:fragment="footer"></footer>
</body>
</html>